__pycache__/
sotopia_results/
linear*/
affine*/
logit_lens_results*/
.venv/
sotopia_results*/
!sotopia_results_false_belief_100_gemini/
!sotopia_results_deal_or_no_deal_gemini/
!sotopia_results_false_belief_v2_gemini/
!sotopia_results_false_belief_v3_gemini/
logs/
